body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: antiquewhite;
    text-align: center;
}

.superior-direito{
    display: flex;
    justify-content: end;
}

h1{
    margin-top: 5px;
}

h3{
    color: gray;
    font-weight: normal;
}

.botoes-centralizados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.botao-principal{
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 25px;
    width: 260px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 15px;
}

.botao-secundario{
    background-color: white;
    color: chocolate;
    border: 2px solid chocolate;
    border-radius: 25px;
    width: 260px;
    height: 50px;
    font-size: 16px;
}

.texto-centro{
    margin-top: 20px;
}

.texto-centro a{
    color: chocolate;
}

.rodape-fixo{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
