body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: antiquewhite;
    padding-left: 30px;
    padding-right: 30px;
}

.superior-direito{
    display: flex;
    justify-content: end;
}

input[type="text"], input[type="password"]{
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

label{
    font-weight: bold;
    font-size: 14px;
}

.botao-seta{
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    float: right;
}

.rodape-fixo{
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
