body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.superior-direito{
    display: flex;
    justify-content: end;
}

.botoes-centralizados{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rodape-fixo{
    position: fixed;
    bottom: 0;
}
