

<head>
    <meta charset="utf-8">
    <meta name="viewport"> 
    <title>Busca</title>
    <link href="../static/css/busca.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div>   
       <button>Voltar</button><span class="superior-direito">
        <img src="../Juliana Bassan/novalogo.jpg" width="100"></span>
    </div>

    <div>
        <h2>Onde vamos comer?</h2>
         <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Busca" aria-label="Search">
        <button>Favoritar</button>
    </div>
    <div class="centralizacao">
        <img src="https://abraji-bucket-001.s3.sa-east-1.amazonaws.com/uploads/ckeditor/picture/data/845/content_alimenta%C3%A7%C3%A3o_no_congresso_mapa.png" width="500">
    </div>
    <div class="centralizacao">
        <button>Três lugares próximos</button>
        <button>Tela cheia</button>
    </div>
    <div class="centralizacao">
        <p>Food<span style="color: chocolate;">Link</span></p>
    </div>
     



</body>