<head>
    <meta charset="utf-8">
    <meta name="viewport">
    <title>Cadastro</title>
    <link href="css/cadastro.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div><button onclick="history.back()">Voltar</button><span class="superior-direito"><img src="img/logo.jpg" width="80"></span></div>

    <h4 style="color: chocolate;">CRIE SUA CONTA</h4>
    <h1><b>Preencha com seus dados</b></h1>

    <form>
        <label>Nome completo</label><br>
        <input type="text" placeholder="Como podemos te chamar?"><br><br>

        <label>CPF</label><br>
        <input type="text" placeholder="000.000.000-00"><br><br>

        <label>Telefone</label><br>
        <input type="text" placeholder="(00) 00000-0000"><br><br>

        <label>Escolha uma senha</label><br>
        <input type="password" placeholder="Mínimo 8 caracteres"><br><br>

        <input type="checkbox">
        <span style="font-size: small;">Declaro estar ciente de que estou fornecendo meus dados para uso do aplicativo.</span>

        <br><br>
        <button class="botao-seta" type="submit">&#8594;</button>
    </form>

    <p class="rodape-fixo">Food<span style="color: chocolate;">Link</span></p>
</body>
