<head>
    <meta charset="utf-8">
    <meta name="viewport"> 
    <title>Seus favoritos</title>
    <link href="../static/css/favoritos.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


</head>

<body>
    <div class="cabecalho-superior">
        <button type="button" class="btn btn-laranja-voltar">Voltar</button>
        <span class="superior-direito"><img src="../Juliana Bassan/logosemfundo.png" width="100"></span> 
    </div>

    <div style="height: 10%;">
        <h2>
            <b>Seus favoritos!</b>
        </h2>
    </div>

    <div style="height: 8%; color: #6B6B6B;">
        <h4>Seus lugares favoritos, sempre por perto.</h4>
    </div>
    
    <div class="container-cards">
        <div class="card">
            <div class="card-body card-restaurante">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4p3ITG24-S6yhbyeRqacARNDvmcWINPcp6AcxtTDEAKeD2D-OoY9l4SMW&s=10" class="logo-arredondada">
                <div>
                    <h5 class="card-title">Couve-Flor</h5>
                    <p class="card-text">Brasileira</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body card-restaurante">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzsffRGdcvlXZt1b-g8f3VCv_JsIo9ydtQJzQkdTiUQlDhzgLui3H_QVHz&s=10" class="logo-arredondada">
                <div>
                    <h5 class="card-title">Le Max</h5>
                    <p class="card-text">Fast Food</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body card-restaurante">
                <img src="https://static.wixstatic.com/media/aa050c_39341868285f4fa6b0adb42d81fc5280~mv2.png" class="logo-arredondada">
                <div>
                    <h5 class="card-title">Geneal</h5>
                    <p class="card-text">Fast Food</p>
                </div>
            </div>
        </div>
    </div>
    <p class="rodape-fixo">Food<span style="color: #D9643A;">Link</span></p>
   

</body>
