<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Nova categoria</title>
    <link rel="stylesheet" href="../static/css/novaCategoria.css">
</head>

<body>
    <div class="logo">
        <img src="../Juliana Bassan/novalogo.jpg" alt="FoodLink" width="100">
    </div>

    <a href="adicionarProduto.html">Voltar ao cadastro de produto</a>

    <h1>Nova categoria</h1>
    <p>Crie uma categoria para organizar os produtos do cardápio.</p>

    <form>
        <label for="nome">Nome da categoria</label><br>
        <input type="text" id="nome" name="nome" placeholder="Ex.: Sobremesas">

        <p>
            <button type="button">Salvar categoria</button>
        </p>
    </form>

    <p class="rodape">FoodLink</p>
</body>
</html>
