
<head>
    <meta charset="utf-8">
    <meta name="viewport"> 
    <title>QR Code</title>
    <link href="../static/css/qrcode.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div>   
       <button>Voltar</button><span class="superior-direito">
        <img src="../Juliana Bassan/novalogo.jpg" width="100"></span>
    </div>

    <div>
        <h4 style="color: chocolate;">CARDÁPIO DIGITAL</h4>
        <h2>Aponte a câmera para o QR Code</h2>
        <h5 style="color: grey;">Posicione o código dentro da moldura</h5>
    </div>
    <div class="centralizacao">
        <img src="https://play-lh.googleusercontent.com/BOGY3oCN4Bd-ogMXphOq2YjkwDdI8bQKtDVQ4ysQlZhXavDDsOqxKrGbTOiZ9TOnEjHVYRlwkq0gp-gJ1QtzIUY" width="500">
    </div>
    <div class="centralizacao">
        <button>Câmera pronta</button>
    </div>
    <div class="centralizacao">
        <p>Food<span style="color: chocolate;">Link</span></p>
    </div>
     



</body>